@media (max-width: 1000px) {
    label #btn{
        display: inline-block;
    }  
    #menu{
        position: fixed;
        top: 0;
        right: -100%;
        width:50%;
        height: 100vh;
        background-color: #000;
        padding-top: 80px;
        display: block;
        line-height: 40px;
        z-index: 100;
        transition: 0.5s;
    }
    #menu li{
        margin-left: 50px;
    }
    #menu li a{
        font-size: 20px;
        color: #fff;
    }
    #check:checked ~ #menu{
        right: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
        z-index: 101;
        color: #fff;
    }
}
@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1619674691 svg {
        width: calc(116% + 1.3px);
        height: 72px;
    }
}
@media screen and (min-width: 700px){
    #member-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: all .5s;
    }
    .member{
        margin: 2rem;
        transition: all 0.5s;
    }
    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .member:nth-child(1){
        animation: fadeIn.5s .5s backwards;
    }
    .member:nth-child(2){
        animation: fadeIn.5s 1s backwards;
    }
    .member:nth-child(3){
        animation: fadeIn.5s 1.5s backwards;
    }
    .member:nth-child(4){
        animation: fadeIn.5s 2s backwards;
    }
    .member:hover{
        transform: scale(1.05);
        transition: all .8s;
    }
}
