.header{
    height: 80px;
    background: #fff;
    padding: 20px 0;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    box-shadow: 0px 5px 5px 5px #80808045;
}
*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 10;
}
.nav-bar img{
    height: 20px;
    position: relative;
    top: 10px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
#menu{
    display: flex;
    list-style-type: none;
    line-height: 35px;
    align-items: center;
}
#menu li{
    margin: 0 20px;
}
#menu li a{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
#menu li a::before{
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: 0.4s transform;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: right;
}
#menu li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
label #btn, label #cancel{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 25px;
    cursor: pointer;
    transform: translate(0, -50%);
    display: none;
}
#check{
    display: none;
}
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 50px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #1ee2e7;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}


.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

.custom-shape-divider-bottom-1619674691 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1619674691 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 115px;
}

.custom-shape-divider-bottom-1619674691 .shape-fill {
    fill: #FFFFFF;
}


header{
    background: linear-gradient(180deg,rgba(128, 128, 128, 0.356), rgba(128, 128, 128, 0.356), rgba(128, 128, 128, 0.356)), url(../img/bg3.jpg);
    background-origin: border-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    position: relative;
    color: rgb(255, 245, 245);
    margin-top: 80px;
}
#intro{
    display: flex;
    justify-content: center;
}
#intro > div{
    text-align: center;
    padding-top: 250px;
}
#intro div h1{
    font-size: 70px;
    font-weight: bold;
}
#intro div p{
    font-size: 20px;

}
#intro_info{
    width: 800px;
    
}
p{
    font-weight: bold;
    letter-spacing: 1px;
}
#btn_group button{
    width: 140px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.233);
    color: #14c6c9;
    outline: none;
    border: 2px solid #14c6c9;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}

.section-heading{
    margin-right: 0px !important;
}
/* *::before,*::after{
    box-sizing: border-box;
} */
.product{
    color: white;
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 300ms ease;
    margin: 20px;
    box-shadow: 1px 5px 5px 1px #80808094;
}
.product:hover{
    box-shadow: 1px 7px 7px 5px #80808094;
    transition: 0.5s;
}
.milk{
    background-image: url(../img/milk.jpg);
}
.yogurt{
    background-image: url(../img/yogurt.jpg);
}
.kefir{
    background-image: url(../img/kefir.jpg);
}
.cream{
    background-image: url(../img/cream.jpg);
}
.product:hover,
.product:focus-within{
    transform: scale(1.05);
}

.product-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0.01), 
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
}

.product-title::after{
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    width: 200px;
    background-color: aqua;
    transition: transform 300ms ease;
    transform-origin: left;
}
.product-title{
    position: relative;
    width: max-content;
    padding-bottom: 5px;
}
.product:hover .product-title::after,
.product:focus-within .product-title::after{
    transform: scaleX(1);
}

@media (hover){
    .product-content{
        transform: translateY(72%);
        transition: transform 300ms ease;
    }
    .product:hover .product-content, .product:focus-within .product-content{
        transform: translateY(0);
        transition-delay: 300ms;
    }
    .product:focus-within .product-content{
        transition-duration: 0ms;
    }
    .product-content *:not(.product-title){
        opacity: 0;
        transition: opacity 300ms linear;
    }
    .product:hover .product-content *:not(.product-title),
    .product:focus-within .product-content *:not(.product-title){
        opacity: 1;
        transition-delay: 700ms;
    }
    
    .product-title::after{
        transform: scaleX(0);
    }
}

.product-button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: hsl(0 0% 0% / 1);
    background-color: aqua;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
    font-weight: bold;
}
.product-button:hover,
.product-button:focus{
    background-color: white;
}
#product-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.section-heading{
    margin-top: 20px;
}
#products-button{
    height: 40px;
    width: 150px;
    border: 1px solid rgb(12, 201, 201);
    background-origin: white;
    border-radius: 20px;
    color: rgb(12, 201, 201);
    font-weight: bold;
    transition: 500ms ease;
    margin-top: 20px;
    margin-bottom: 20px;
}
#products-button:hover{
    background-color: rgb(12, 201, 201);
    color: white;
}
#products{
    background-color: rgba(219, 219, 219, 0.192);
}

#team-wrapper{
    text-align: center;
}
#team-wrapper h2{
    padding-top: 30px;
}
.member_btn{
    text-decoration: none;
}
#member-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    transition: all .5s;
}
.member{
    width: 25rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}
.member_bg{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    clip-path: polygon(0 0,100% 0%,100% 69%,0% 100%);
}
.member_picture{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -9rem;
    border: 1rem solid #ebeef8;
    z-index: 1;
}
.member h3{
    font-size: 2.5rem;
    color: #333;
}
.member_job{
    color: #777;
    font-size: 2rem;
    font-weight: 700;
}
.member_info{
    font-size: 20px;
    padding: 0.5rem 1.2rem;
    text-align: center;
    color: #333;
    font-weight: 500;
}
.member_btn{
    padding: 7px 30px;
    background-color: aqua;
    font-size: 25px;
    font-weight: 800;
    border-radius: 2rem;
    transition: all .5s;
    color: white;
}
.member_btn:hover{
    color: #333;
    background-color: #70a1ff;
    transform: translateY(-4px);
    box-shadow: .5rem .5rem 2rem #70a1ff;
}
.member_btn:active{
    color: #eee;
    transform: translateY(0px);
    box-shadow: none;
    background: #111;
}
.member_social_media{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 13px;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.member_social_media i{
    font-size: 27px;
    transition: all .5s;
    color: #666;
}
.fa-facebook:hover{
    color: #3b5999;
    transform: translateY(-0.5rem);
    text-shadow: .5rem .5rem .5rem #3867d6;
}
.twit:hover{
    color: #55acee;
    transform: translateY(-0.5rem);
    text-shadow: .5rem .5rem .5rem #55e6c1;
}
.insta:hover{
    color: #6d214f;
    transform: translateY(-0.5rem);
    text-shadow: .5rem .5rem .5rem #6D214F;
}
.fa-linkedin:hover{
    color: #0652dd;
    transform: translateY(-0.5rem);
    text-shadow: .5rem .5rem .5rem #1b9cfc;
}
#testimonials{
    height: 600px;
    background: linear-gradient(rgba(128, 128, 128, 0.8),rgba(128, 128, 128, 0.8),rgba(128, 128, 128, 0.8)), url(../img/testimonial_bg.jpg);
    background-size: cover;
    margin-top: 50px;
    box-shadow: 10px 0px 10px 10px rgba(128, 128, 128, 0.329);
}
#customers-testimonial{
    padding: 40px 0;
}   
.testimonial img{
    max-width: 159px;
    margin:0 auto 0 auto;
    border: 2px solid white;
    padding: 5px;
    margin-bottom: 13px;
    border-radius: 50%;
}
.testimonial blockquote{
    border: 0;
    font-family: tahoma;
    font-size: italic;
    color: white;
    padding: 5px 150px;
    position: relative;
}
.testimonial blockquote:before,
.testimonial blockquote:after{
    font-size: 80px;
    font-size: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}
.testimonial blockquote::before{
    content: "\201C";
    top: 0;
    left: 100px;
}
.testimonial blockquote::after{
    content: "\201D";
    bottom: 0;
    right: 100px;
}
.testimonial-author p{
    color: white;
    font-size: 17px;
}
.testimonial-author p strong{
    display: block;
}
#testimonials-cover h3{
    color: white;
    text-transform: uppercase;
    padding-top: 40px;
    font-weight: bold;
}
.testimonial-img{
    width: 159px;
    height: 159px;
    size: cover;
}
#contact{
    padding: 150px 0;
    padding-bottom: 50px;
    height: 700px;
    /* display: grid; */
    align-items: center;
}
#contact{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.contact-item{
    padding: 40px 30px;
    height: 500px;
}
.contact-item:nth-child(1){
    flex: 30%;
    background: linear-gradient(rgb(128 128 128 / 32%),rgb(128 128 128 / 32%),rgb(128 128 128 / 32%)), url(../img/member_bg2.jpeg);
    background-size: cover;
    color: #fff;
}
.contact-item:nth-child(2){
    flex: 45%;
    background-color: #14c6c9;
    box-shadow: 0px 0px 10px 10px rgb(109 109 109 / 36%);
    height: 520px;
}
.contact-item:nth-child(3){
    flex: 25%;
    padding: 0;
}
.contact-item h1{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}
.contact-item h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
.contact-item h2 i{
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}
.contact-item p{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}
.contact-item ul{
    margin: 0;
    padding: 0;
    padding-top: 20px;
}
.contact-item ul li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    margin-top: 5px;
}
.contact-item ul li a{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}
.contact-item ul li a i{
    font-size: 14px;
    line-height: 30px;
    color: #000;
}
.contact-item form{
    width: 100%;
    height: auto;
}
.contact-item-input,.contact-item-textarea{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 15px;
}
.contact-item-textarea{
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 15px;
}
.contact-item-input::placeholder{
    color: #fff;
}
.contact-item-textarea::placeholder{
    color: #fff;
}
.contact-item-btn{
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}
.contact-item iframe{
    /* height: 700px; */
    width: 100%;
}
